.container {
  position: relative;
  padding: 20px 24px;
  border-radius: 16px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.containerTwo {
  margin-top: 10px;
  background-color: rgb(185, 168, 168, 0.1);
  border-radius: 10px;
  color: rgb(107 114 128);
  font-size: 14px;
  font-weight: 500;
  padding: 18px 12px;
}

.hr {
  margin-top: 5px;
  color: #555;
  border-top: 1px solid #ccc;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 0.5rem;
  font-size: 14px;
}

i {
  margin-left: 7px;
}

.percent {
  font-size: 18px;
  font-weight: 800;
  margin-left: 5px;
}

.price {
  font-size: 18px;
  margin-left: 5px;
}

.watch {
  font-size: 16px;
  font-weight: 700;
}
